body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 20px;
}
.enlace_articulo  {
    display: inline-block;
    color: white;
    text-decoration: none;
}
.enlace_autor a {
    color: #2563eb;
    text-decoration: underline;
}
    


.div_articulo {
    background-color: #00a5e5;
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
    font-size: 0.9em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.articulo h2 {
    color: #ffffff;
}

.articulo p {
    color: black;
    margin: 5px 5px;
    line-height: 1.4;
    font-size: medium;
}
.autor h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}
    

header, .foot{
    background-color: rgba(247,120,56,1);
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}



 h4 {
    color: #d9f3ff;
    font-weight: normal;
    font-size: 0.95em;
}


.autor {
    margin-top: 30px;
    background-color: rgba(247,120,56,1);
    border-radius: 8px;
    padding: 16px 12px;
}


.tabla_autores {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    
}

.articulo_ind{
    margin-top: 30px;
    background-color: rgba(247,120,56,1);
    border-radius: 8px;
    padding: 16px 12px;
}

.tabla_autores th, .tabla_autores td {
    padding: 8px;
    border: 1px solid #555555;;
    text-align: center;
    vertical-align: middle;
}

.tabla_autores th{
    background-color: #777777;
    color: white;
}

td{
    background-color: #E6E6E6;
}

/*pagina individual de articulo*/


 .body_articulo h1 {
    color: #ffffff;
}

.articulo_p, .articulo_recortado {
    background-color: #00a5e5;
    color: white;
    border-radius: 8px;
    padding: 15px 15px;
    margin: 5px 5px;
    font-size: 0.9em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    line-height: 1.4;
    
}


/*Boot*/
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007BFF !important;
    margin-bottom: 1rem;
}

.bg-nav{
    background-color: #6b6b6b;
}

.card.h-100 {
    background-color: #E6E6E6 !important;
}

.navegacion-articulos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 20px;
}

.contenedor-anterior, .contenedor-siguiente {
    flex: 1;
}

.contenedor-anterior {
    text-align: left;
}

.contenedor-siguiente {
    text-align: right;
}
